<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/styles.css" />
    <title>Boleto Mama Quero Massa</title>
  </head>
  <body>
    <section class="flex flex-col items-center mt-10 bg-gray h-8">
      <div class="bg-blue w-3/4 h-96 flex justify-center items-center">
        <div class="border-4 border-black h-96 w-96"></div>
      </div>
      
    </section>
  </body>
</html>
